*{
    box-sizing: border-box;
    margin: 0;
}
.container{
    max-width: 458px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}
h2{
    color: palevioletred;
    font-size: 34px;
    line-height: 42px;
    margin-top: 0;
    text-align: center;
    border-bottom: 1px palevioletred solid;
}
.client{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 5px red solid;
}
h3{
    display: inline;
    font-size: 22px;
    line-height: 1.5;
    color: rgba(26, 23, 23, 0.685);
    padding-left: 10px;
}
.num{
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px rgba(26, 23, 23, 0.685) solid;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 15px;
}
.img{
    text-align: center;
}
.link{
    text-decoration: none;
    color: #444;
    font-size: 28px;
}

.link:hover{
    color: red;
    text-decoration: underline;
}
li{
    margin-bottom: 30px;
    background: url(./img/1378418749.svg) no-repeat;
    background-size: 20px 20px;
    padding-left: 40px;
    background-position: left center;
}
ul{
    padding-top: 30px;
    list-style: none;
}